body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-size:auto;
    color: white;
}
.game-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 4%;
    padding-bottom: 2%;
    height: 100%;
    background-image: url("Images/green-background.jpeg");
    background-size: cover;
}
.card-space{
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: space-between;
}
.card-div-d, .card-div-p{
    display: flex;
    flex-direction: row;
    align-items: safe;
}
.card{
    background-color: white;
    color: black;
    border: 1px solid red;
    padding: 30px 15px 30px 15px;
    margin-right: 15px;
}
#hidden-card{
    background-color: black;
    color: black;
    border: 1px solid red;
    padding: 30px 15px 30px 15px;
    margin-right: 15px;
}
.all-btn{
    display: flex;
    width: 600px;
    justify-content: space-around;
}
.name{
    color: goldenrod;
    text-decoration:underline;
    font-size: 30px;
}
#overLine{
    text-decoration: overline;
}
#c1{
    color: green;
    font-size: 30px;
}
.game-btn{
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    background-color: goldenrod;
    color: #016f32;
    border-radius: 2px;
    font-weight: bold;
    border: none;
}
.game-btn:active{
    color: maroon;
}
#heading{
    /* margin-top: 50px; */
    font-size: 80px;
    color: goldenrod;
    margin: 0;
}
#message{
    font-style: italic;
}
#money{
    font-size: 20px;
    font-weight: bolder;
}